<section class="contact-wrapper">
    <div class="contact-diagonal"></div>
    <div class="contact-container syne">
        <h2>{{ 'CONTACT.HEADLINE' | translate }}</h2>
        <div class="overpass contact-info">
            <p>{{ 'CONTACT.SUBHEADLINE' | translate }}</p>
            <span>
                {{ 'CONTACT.DESCRIPTION' | translate }}
            </span>
            <form class="contact-form overpass" (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
                <label for="fname">Name</label>
                <input #name="ngModel" [(ngModel)]="contactData.name" minlength="3" type="text" id="fname"
                    name="firstname" placeholder="{{ 'CONTACT.NAME' | translate }}" required>
                @if (!name.valid && name.touched) {
                <div class="warning-text">{{ 'CONTACT.NAME_R' | translate }}</div>
                }

                <label for="lname">Email</label>
                <input #email="ngModel" [(ngModel)]="contactData.email" type="email" id="lname" name="lastname"
                    placeholder="{{ 'CONTACT.MAIL' | translate }}" required pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">
                @if (!email.valid && email.touched) {
                <div class="warning-text">{{ 'CONTACT.MAIL_R' | translate }}</div>
                }

                <label for="subject">Subject</label>
                <textarea #message="ngModel" [(ngModel)]="contactData.message" minlength="4" id="subject" name="subject"
                    placeholder="{{ 'CONTACT.MESSAGE' | translate }}" required></textarea>
                @if (!message.valid && message.touched) {
                <div class="warning-text">{{ 'CONTACT.MESSAGE_R' | translate }}</div>
                }
                <div class="privacy-container">

                    <label for="privacy" class="custom-checkbox">
                        <input type="checkbox" checked="checked" id="privacy" name="privacy"
                            [(ngModel)]="contactData.privacyAccepted" required>
                        <span class="checkmark"></span>
                    </label>
                    <p>{{ 'CONTACT.PRIVACY_1' | translate }} <a href="imprint">{{ 'CONTACT.PRIVACY_2' | translate }}</a> {{ 'CONTACT.PRIVACY_3' | translate }}
                    </p>
                </div>
                <input type="submit" value="{{ 'CONTACT.BTN' | translate }}"
                    [disabled]="!contactForm.form.valid || !contactData.privacyAccepted">
            </form>
        </div>
        <a href="#header" class="arrow-up">
            <svg width="54" height="95" viewBox="0 0 54 95" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path class="line" d="M2 67.1055L27 92.1055L52 67.1055" pathLength="1" stroke-width="4" />
                <path class="line" d="M27 0V92.1053" pathLength="1" stroke-width="4" />
            </svg>
        </a>
        <div class="notification" [class.show]="showNotification">
            {{ 'CONTACT.SUBMIT_MESSAGE' | translate }}
        </div>
    </div>
</section>