.dropdown-menu {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    width: 100%;
    height: calc(100vh - 90px);
    top: 90px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 1);
    z-index: 50;
    transition: all 0.5s ease;

    h2 {
        position: absolute;
        margin: 0;
        font-weight: 800;
        font-size: 70px;
        color: rgba(255, 255, 255, 1);
        margin-top: 100px;
        left: 2.5%;
        bottom: 120px;
        z-index: 60;

        &:hover {
            color: rgb(86, 147, 244);
        }
    }
}

.dropdown-menu.active {
    display: flex;
}

.dropdown-links {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: -20%;
    gap: 50px;

    a {
        font-size: 80px;
        font-weight: 700;
        letter-spacing: -2px;
        text-decoration: none;
        color: rgba(0, 0, 0, 1);

        &:hover {
            color: rgb(86, 147, 244);
        }
    }
}

.dropdown-diagonal {
    position: absolute;
    height: 150px;
    width: 100%;
    background-color: rgba(0, 0, 0, 1);
    clip-path: polygon(0 10%, 100% 80%, 100% 100%, 0 100%);
    bottom: 145px;
}

.dropdown-bottom {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 150px;
    width: 95%;
    padding: 0 2.5%;
    background-color: rgba(0, 0, 0, 1);
    bottom: 0;

    a {
        font-size: 23px;
        line-height: 23px;
        letter-spacing: -1px;
        color: rgba(255, 255, 255, 1);
        text-decoration: none;
        margin-top: -40px;

        &:hover {
            color: rgb(86, 147, 244);
        }
    }

    .dropdown-icons {
        display: flex;
        gap: 20px;
    
        a {
            cursor: pointer;
    
            svg {
                fill: rgba(255, 255, 255, 1);
            }
    
            &:hover {
                svg {
                    fill: rgb(86, 147, 244);
                    animation: jump 0.5s ease;
                }
            }
        }
    }
}

.animated-div {
    position: relative;
    height: max-content; 
    text-align: center;
}

.animated-div a {
    position: relative;
    padding-left: 30px;
    text-decoration: none;
    color: black;
    text-align: left;
}

.animated-div .line {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 4px;
    height: 50%;
    background-color: black;
    transition: height 0.3s ease;
}

.animated-div::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 20px;
    height: 4px;
    background-color: black;
    transition: width 0.5s ease, left 0.5s ease;
}

.animated-div:hover .line {
    height: 0;
}

.animated-div:hover::after {
    width: 100%; 
    left: 0;
}

@keyframes jump {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}