.about-me-wrapper {
    height: 500px;
    width: 100%;
    background-color: rgba(20, 29, 47, 1);

    h2 {
        margin: 0;
        font-weight: 800;
        font-size: 62px;
        padding-top: 30px;
    }
}