<section class="about-me-wrapper syne">
    <h2>About me</h2>
    <div class="about-me-info overpass">
        <div class="about-me-text-wrapper overpass">
            <p>
                Hey, I'm Oliver, but everyone I know calls me Oli - so feel free to call me the same. I'm a
                front-end developer based in Nuremberg, Germany. I help designers and companies to bring their ideas to
                life.
                When I'm not writing awesome code, you'll find me cooking, working out or traveling the world.
                <br>
                <br>
                Feel free to hit that contact button
                and reach out to me!
            </p>
            <button>
                <p>Let's talk</p>
            </button>
        </div>
        <div class="img-container">
            <div class="img-border"></div>
            <img src="../../assets/img/03_pics/pic_2.jpg" alt="Portrait of Oli">
        </div>

    </div>
</section>