<section class="about-me-wrapper syne">
    <h2>About me</h2>
    <div class="about-me-info overpass">
        <div class="about-me-text-wrapper overpass">
            <p>
                Hey, I'm Oli! I'm a front-end developer with a BA in Applied Media based in Nuremberg, Germany. With my
                technical background in front-end and my design background from my studies, I help designers and
                companies bring their ideas to life.
                When I'm not creating awesome code, you'll find me cooking, working out or traveling the world.
                <br>
                <br>
                Feel free to hit that contact button
                and reach out to me!
            </p>
            <button>
                <p>Let's talk</p>
            </button>
        </div>
        <div class="img-container">
            <div class="img-border"></div>
            <img src="../../assets/img/03_pics/pic_2.jpg" alt="Portrait of Oli">
        </div>

    </div>
</section>