<header id="header">
    <a [href]="getLink('landingPage')">
        <img src="../../../assets/img/01_logo/logo_6.png" alt="Logo">
    </a>
    <div class="overpass fcc header-right">
        <div class="language-selection">
            <div>EN</div>
            |
            <div>DE</div>
        </div>
        <div class="container">
            <input type="checkbox" id="checkbox2" class="checkbox2 visuallyHidden">
            <label for="checkbox2">
                <div class="hamburger hamburger2">
                    <span class="bar bar1"></span>
                    <span class="bar bar2"></span>
                    <span class="bar bar3"></span>
                    <span class="bar bar4"></span>
                </div>
            </label>
        </div>
    </div>
</header>