header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 100px 0px 100px;
    //background-color: rgb(197, 196, 192);
    background-color: rgba(255, 255, 255, 1);
    height: 90px;
    top: 0;
    left: 0;
    right: 0;
    position: sticky;
    z-index: 10;

    img {
        width: 80px;
    }
}

.header-right {
    gap: 20px;

    div {
        font-size: 16px;
        line-height: 19px;
        font-weight: 400;
        color: rgb(0, 0, 0);
    }
}

.language-selection {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    div:hover {
        cursor: pointer;
        color: rgb(86, 147, 244);
    }
}