header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 100px 15px 100px;
    background-color: rgba(20, 29, 47, 0.8);
    height: 92px;

    img {
        width: 200px;
    }

    div {
        gap: 20px;
        color: #aab2d1;

        &:hover {
            cursor: pointer;
        }
    }
}