header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 100px 15px 100px; 
    background-color: rgba(255, 252, 243, 1);
    height: 92px;

    img {
        width: 200px;
    }
}
