<section class="contact-wrapper">
    <div class="contact-diagonal"></div>
    <div class="contact-container syne">
        <h2>Say Hi!</h2>
        <div class="overpass contact-info">
            <p>Want to discuss a new project?</p>
            <span>
                Say hello! Let's talk about your ideas and turn them into reality
            </span>
            <form class="contact-form overpass" (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
                <label for="fname">Name</label>
                <input #name="ngModel" [(ngModel)]="contactData.name" minlength="3" type="text" id="fname"
                    name="firstname" placeholder="Your name" required>
                @if (!name.valid && name.touched) {
                <span style="color: white;">Please enter your name</span>
                }

                <label for="lname">Email</label>
                <input #email="ngModel" [(ngModel)]="contactData.email" type="email" id="lname" name="lastname"
                    placeholder="Your email" required pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">
                @if (!email.valid && email.touched) {
                <span style="color: white;">Please enter your email</span>
                }

                <label for="subject">Subject</label>
                <textarea #message="ngModel" [(ngModel)]="contactData.message" minlength="4" id="subject" name="subject"
                    placeholder="Your message" required></textarea>
                @if (!message.valid && message.touched) {
                <span style="color: white;">Please enter a message</span>
                }
                <div class="privacy-container">

                    <label for="privacy" class="custom-checkbox">
                        <input type="checkbox" checked="checked" id="privacy" name="privacy"
                            [(ngModel)]="contactData.privacyAccepted" required>
                        <span class="checkmark"></span>
                    </label>
                    <p>I've read the <a href="#">privacy policy</a> and agree to the processing of my data as outlined
                    </p>
                </div>
                <input type="submit" value="Send message"
                    [disabled]="!contactForm.form.valid || !contactData.privacyAccepted">
            </form>
        </div>
        <a href="#" class="arrow-up">
            <svg width="54" height="95" viewBox="0 0 54 95" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path class="line" d="M2 67.1055L27 92.1055L52 67.1055" pathLength="1" stroke-width="4" />
                <path class="line" d="M27 0V92.1053" pathLength="1" stroke-width="4" />
            </svg>
        </a>
    </div>
</section>