<section class="contact-wrapper">
    <div class="contact-diagonal"></div>
    <div class="contact-container syne">
        <h2>Say Hi!</h2>
        <div class="overpass contact-info">
            <p>Want to discuss a new project?</p>
            <span>
                Say hello! Let's talk about your ideas and turn them into reality
            </span>
            <form class="contact-form overpass" (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
                <label for="fname">Name</label>
                <input #name="ngModel" [(ngModel)]="contactData.name" minlength="3" type="text" id="fname"
                    name="firstname" placeholder="Your name" required>
                @if (!name.valid && name.touched) {
                <span style="color: white;">Please enter your name</span>
                }

                <label for="lname">Email</label>
                <input #email="ngModel" [(ngModel)]="contactData.email" type="email" id="lname" name="lastname"
                    placeholder="Your email" required pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">
                @if (!email.valid && email.touched) {
                <span style="color: white;">Please enter your email</span>
                }

                <label for="subject">Subject</label>
                <textarea #message="ngModel" [(ngModel)]="contactData.message" minlength="4" id="subject" name="subject"
                    placeholder="Your message" required></textarea>
                @if (!message.valid && message.touched) {
                <span style="color: white;">Please enter a message</span>
                }
                <div class="privacy-container">
                    <p>I've read the <a href="#">privacy policy</a> and agree to the processing of my data as outlined</p>
                </div>
                <input type="submit" value="Send message">
            </form>
        </div>
    </div>
</section>