<section class="about-me-wrapper syne">
    <h2>{{ 'ABOUT.HEADLINE' | translate }}</h2>
    <div class="about-me-info overpass">
        <div class="about-me-text-wrapper overpass animate-left">
            <p>
                {{ 'ABOUT.DESCRIPTION' | translate }}
                <br>
                <br>
                {{ 'ABOUT.INVITE' | translate }}
            </p>
            <a href="#contact">
                {{ 'ABOUT.CONTACT' | translate }}
            </a>
        </div>
        <div class="img-container animate-right">
            <div class="img-border"></div>
            <img src="../../assets/img/03_pics/pic_2.jpg" alt="Portrait of Oli">
        </div>
        <a href="#contact" class="mobile-btn">
            {{ 'ABOUT.CONTACT' | translate }}
        </a>
    </div>
</section>