<section class="landing-page-wrapper">
    <div class="landing-page-content syne">
        <img src="../../assets/img/03_pics/pic_5.png" alt="Picture of Oli">
        <div>
            <h1>Frontend
                <br>
                Developer
            </h1>
            <div class="overpass landing-page-subheadline fcc">
                <div class="parting-line"></div>
                Oliver Drexler
            </div>
        </div>
    </div>
    <div class="landing-page-diagonal"></div>
    <div class="landing-page-bottom">
        <div class="bottom-content">
            <a href="#contact" class="overpass landing-page-mail">oliverdrexler&#64;web.de</a>
            <div class="overpass landing-page-down">
                <div>
                    <svg viewBox="0 0 54 95" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2 67.1055L27 92.1055L52 67.1055" stroke-width="4" />
                        <path d="M27 0V92.1053" stroke-width="4" />
                    </svg>
                </div>
                <p>Scroll <br>
                    Down</p>
            </div>
        </div>
    </div>
</section>