<section class="skills-wrapper">
    <h2 class="syne">My skills</h2>
    <div class="icon-list overpass">

        <div>
            <img src="../../assets/img/02_icons/angular.png" alt="">
            <p>Angular</p>
        </div>
        <div>
            <img src="../../assets/img/02_icons/typescript.png" alt="">
            <p>TypeScript</p>
        </div>
        <div>
            <img src="../../assets/img/02_icons/javascript.png" alt="">
            <p>JavaScript</p>
        </div>
        <div>
            <img src="../../assets/img/02_icons/html.png" alt="">
            <p>HTML</p>
        </div>
        <div>
            <img src="../../assets/img/02_icons/css.png" alt="">
            <p>CSS</p>
        </div>
        <div>
            <img src="../../assets/img/02_icons/Firebase.png" alt="">
            <p>Firebase</p>
        </div>
        <div>
            <img src="../../assets/img/02_icons/git.png" alt="">
            <p>Git</p>
        </div>
        <div>
            <img src="../../assets/img/02_icons/scrum.png" alt="">
            <p>Scrum</p>
        </div>
        <div>
            <img src="../../assets/img/02_icons/restapi.png" alt="">
            <p>Rest-Api</p>
        </div>
        <div>
            <img src="../../assets/img/02_icons/materialdesign.png" alt="">
            <p>Material <br>
                Design
            </p>
        </div>
    </div>

</section>