<section class="skills-wrapper">
    <h2 class="syne">Skills</h2>
    <div class="icon-list overpass">

        <div class="icon-wrapper">
            <img src="../../assets/img/02_icons/angular.png" alt="Angular">
            <p>Angular</p>
        </div>
        <div class="icon-wrapper">
            <img src="../../assets/img/02_icons/typescript.png" alt="TypeScript">
            <p>TypeScript</p>
        </div>
        <div class="icon-wrapper">
            <img src="../../assets/img/02_icons/javascript.png" alt="JavaScript">
            <p>JavaScript</p>
        </div>
        <div class="icon-wrapper">
            <img src="../../assets/img/02_icons/html.png" alt="HTML">
            <p>HTML</p>
        </div>
        <div class="icon-wrapper">
            <img src="../../assets/img/02_icons/css.png" alt="CSS">
            <p>CSS</p>
        </div>
        <div class="icon-wrapper">
            <img src="../../assets/img/02_icons/Firebase.png" alt="Firebase">
            <p>Firebase</p>
        </div>
        <div class="icon-wrapper">
            <img src="../../assets/img/02_icons/git.png" alt="Git">
            <p>Git</p>
        </div>
        <div class="icon-wrapper">
            <img src="../../assets/img/02_icons/scrum.png" alt="Scrum">
            <p>Scrum</p>
        </div>
        <div class="icon-wrapper">
            <img src="../../assets/img/02_icons/restapi.png" alt="Rest-Api">
            <p>Rest-Api</p>
        </div>
        <div class="icon-wrapper">
            <img src="../../assets/img/02_icons/materialdesign.png" alt="Material Design">
            <p>Material <br>
                Design
            </p>
        </div>
    </div>

</section>