<section class="imprint-wrapper">
    <h4>{{ 'IMPRINT.HEADLINE' | translate }}</h4>
    <h1>{{ 'IMPRINT.SUBHEAD_1' | translate }}</h1>
    <h2 id="m3">{{ 'IMPRINT.RESPONSIBLE' | translate }}</h2>
    <p>Oliver Drexler<br>Tucherstraße 22<br>90403 Nürnberg</p>
    <p>{{ 'IMPRINT.AUTHORIZED_PERSON' | translate }}</p>
    <p>E-Mail: <a href="mailto:oliverdrexler@web.de">oliverdrexler&#64;web.de</a></p>

    <h1>{{ 'IMPRINT.SUBHEAD_2' | translate }}</h1>
    <h2 id="m716">{{ 'IMPRINT.PREAMBLE' | translate }}</h2>
    <p>{{ 'IMPRINT.PREAMBLE_CONTENT' | translate }}</p>
    <p>{{ 'IMPRINT.PREAMBLE_NOTE' | translate }}</p>

    <p>{{ 'IMPRINT.DATE' | translate }}</p>
    <h2>{{ 'IMPRINT.CONTENT_OVERVIEW' | translate }}</h2>
    <ul class="index">
        <li><a class="index-link" href="#m716">{{ 'IMPRINT.INDEX.PREAMBLE' | translate }}</a></li>
        <li><a class="index-link" href="#m3">{{ 'IMPRINT.INDEX.RESPONSIBLE' | translate }}</a></li>
        <li><a class="index-link" href="#mOverview">{{ 'IMPRINT.INDEX.PROCESSING_OVERVIEW' | translate }}</a></li>
        <li><a class="index-link" href="#m2427">{{ 'IMPRINT.INDEX.LEGAL_BASIS' | translate }}</a></li>
        <li><a class="index-link" href="#m27">{{ 'IMPRINT.INDEX.SECURITY_MEASURES' | translate }}</a></li>
        <li><a class="index-link" href="#m25">{{ 'IMPRINT.INDEX.DATA_TRANSFER' | translate }}</a></li>
        <li><a class="index-link" href="#m24">{{ 'IMPRINT.INDEX.INTERNATIONAL_TRANSFERS' | translate }}</a></li>
        <li><a class="index-link" href="#m12">{{ 'IMPRINT.INDEX.DATA_STORAGE' | translate }}</a></li>
        <li><a class="index-link" href="#m10">{{ 'IMPRINT.INDEX.DATA_SUBJECT_RIGHTS' | translate }}</a></li>
        <li><a class="index-link" href="#m317">{{ 'IMPRINT.INDEX.BUSINESS_SERVICES' | translate }}</a></li>
        <li><a class="index-link" href="#m225">{{ 'IMPRINT.INDEX.ONLINE_OFFERING' | translate }}</a></li>
        <li><a class="index-link" href="#m134">{{ 'IMPRINT.INDEX.COOKIES' | translate }}</a></li>
        <li><a class="index-link" href="#m182">{{ 'IMPRINT.INDEX.CONTACT_MANAGEMENT' | translate }}</a></li>
        <li><a class="index-link" href="#m136">{{ 'IMPRINT.INDEX.SOCIAL_MEDIA' | translate }}</a></li>
        <li><a class="index-link" href="#m328">{{ 'IMPRINT.INDEX.PLUGINS' | translate }}</a></li>
    </ul>
    <h2 id="m3">{{ 'IMPRINT.RESPONSIBLE' | translate }}</h2>
    <p>Oliver Drexler<br>Tucherstraße 22<br>90403 Nürnberg</p>
    <p>{{ 'IMPRINT.AUTHORIZED_PERSON' | translate }}</p>
    <p>E-Mail: <a href="mailto:oliverdrexler@web.de">oliverdrexler&#64;web.de</a></p>

    <h2 id="mOverview">{{ 'IMPRINT.PROCESSING_OVERVIEW.HEAD' | translate }}</h2>
    <p>{{ 'IMPRINT.PROCESSING_OVERVIEW.TEXT' | translate }}</p>
    <h3>{{ 'IMPRINT.PROCESSING_OVERVIEW.DATA_TYPES' | translate }}</h3>
    <ul>
        <li>{{ 'IMPRINT.PROCESSING_OVERVIEW.DATA_TYPES_LIST.0' | translate }}.</li>
        <li>{{ 'IMPRINT.PROCESSING_OVERVIEW.DATA_TYPES_LIST.1' | translate }}</li>
        <li>{{ 'IMPRINT.PROCESSING_OVERVIEW.DATA_TYPES_LIST.2' | translate }}</li>
        <li>{{ 'IMPRINT.PROCESSING_OVERVIEW.DATA_TYPES_LIST.3' | translate }}</li>
        <li>{{ 'IMPRINT.PROCESSING_OVERVIEW.DATA_TYPES_LIST.4' | translate }}</li>
        <li>{{ 'IMPRINT.PROCESSING_OVERVIEW.DATA_TYPES_LIST.5' | translate }}</li>
        <li>{{ 'IMPRINT.PROCESSING_OVERVIEW.DATA_TYPES_LIST.6' | translate }}</li>
        <li>{{ 'IMPRINT.PROCESSING_OVERVIEW.DATA_TYPES_LIST.7' | translate }}</li>
    </ul>
    <h3>{{ 'IMPRINT.PROCESSING_OVERVIEW.CATEGORIES' | translate }}</h3>
    <ul>
        <li>{{ 'IMPRINT.PROCESSING_OVERVIEW.CATEGORIES_LIST.0' | translate }}.</li>
        <li>{{ 'IMPRINT.PROCESSING_OVERVIEW.DATA_TYPES_LIST.1' | translate }}.</li>
        <li>{{ 'IMPRINT.PROCESSING_OVERVIEW.DATA_TYPES_LIST.2' | translate }}.</li>
        <li>{{ 'IMPRINT.PROCESSING_OVERVIEW.DATA_TYPES_LIST.3' | translate }}.</li>
        <li>{{ 'IMPRINT.PROCESSING_OVERVIEW.DATA_TYPES_LIST.4' | translate }}.</li>
    </ul>
    <h3>{{ 'IMPRINT.PROCESSING_OVERVIEW.PURPOSES' | translate }}</h3>
    <ul>
        <li>{{ 'IMPRINT.PROCESSING_OVERVIEW.PURPOSES_LIST.0' | translate }}</li>
        <li>{{ 'IMPRINT.PROCESSING_OVERVIEW.PURPOSES_LIST.1' | translate }}</li>
        <li>{{ 'IMPRINT.PROCESSING_OVERVIEW.PURPOSES_LIST.2' | translate }}</li>
        <li>{{ 'IMPRINT.PROCESSING_OVERVIEW.PURPOSES_LIST.3' | translate }}</li>
        <li>{{ 'IMPRINT.PROCESSING_OVERVIEW.PURPOSES_LIST.4' | translate }}</li>
        <li>{{ 'IMPRINT.PROCESSING_OVERVIEW.PURPOSES_LIST.5' | translate }}</li>
        <li>{{ 'IMPRINT.PROCESSING_OVERVIEW.PURPOSES_LIST.6' | translate }}</li>
        <li>{{ 'IMPRINT.PROCESSING_OVERVIEW.PURPOSES_LIST.7' | translate }}</li>
        <li>{{ 'IMPRINT.PROCESSING_OVERVIEW.PURPOSES_LIST.8' | translate }}</li>
        <li>{{ 'IMPRINT.PROCESSING_OVERVIEW.PURPOSES_LIST.9' | translate }}</li>
    </ul>
    <h2 id="m2427">{{ 'IMPRINT.LEGAL_BASIS' | translate }}</h2>
    <p>{{ 'IMPRINT.LEGAL_BASIS_CONTENT' | translate }}</p>
    <ul>
        <li>{{ 'IMPRINT.LEGAL_BASIS_LIST.0' | translate }}</li>
        <li>{{ 'IMPRINT.LEGAL_BASIS_LIST.1' | translate }}</li>
        <li>{{ 'IMPRINT.LEGAL_BASIS_LIST.2' | translate }}</li>
        <li>{{ 'IMPRINT.LEGAL_BASIS_LIST.3' | translate }}</li>
    </ul>
    <p>{{ 'IMPRINT.NATIONAL_LAWS' | translate }}</p>
    <p>{{ 'IMPRINT.DSG_NOTE' | translate }}</p>

    <h2 id="m27">{{ 'IMPRINT.SECURITY_MEASURES_HEAD' | translate }}</h2>
    <p>{{ 'IMPRINT.SECURITY_MEASURES' | translate }}</p>
    <p>{{ 'IMPRINT.SECURITY_MEASURES_LIST' | translate }}</p>

    <h2 id="m25">{{ 'IMPRINT.DATA_TRANSFER_HEAD' | translate }}</h2>
    <p>{{ 'IMPRINT.DATA_TRANSFER' | translate }}</p>

    <h2 id="m24">{{ 'IMPRINT.INTERNATIONAL_TRANSFERS_HEAD' | translate }}</h2>
    <p> {{ 'IMPRINT.INTERNATIONAL_TRANSFERS' | translate }}
        <a href="https://commission.europa.eu/law/law-topic/data-protection/international-dimension-data-protection_en?prefLang=de"
            target="_blank">https://commission.europa.eu/law/law-topic/data-protection/international-dimension-data-protection_en?prefLang=de.</a>
    </p>
    <p>{{ 'IMPRINT.EU_US_1' | translate }} <a href="https://www.dataprivacyframework.gov/"
            target="_blank">https://www.dataprivacyframework.gov/</a>
        {{ 'IMPRINT.EU_US_2' | translate }}</p>
    <h2 id="m12">{{ 'IMPRINT.DATA_STORAGE_HEAD' | translate }}</h2>
    <p>{{ 'IMPRINT.DATA_STORAGE' | translate }}</p>
    <p>{{ 'IMPRINT.DATA_STORAGE_NOTES.0' | translate }}</p>
    <p>{{ 'IMPRINT.DATA_STORAGE_NOTES.1' | translate }}</p>
    <p>{{ 'IMPRINT.DATA_STORAGE_NOTES.2' | translate }}</p>
    <p>{{ 'IMPRINT.DATA_STORAGE_NOTES.3' | translate }}</p>
    <p>{{ 'IMPRINT.DATA_STORAGE_NOTES.4' | translate }}</p>

    <p><strong>{{ 'IMPRINT.FURTHER_NOTES' | translate }}</strong></p>
    <ul class="m-elements">
        <li><strong>{{ 'IMPRINT.STORAGE_AND_DELETION' | translate }} </strong>{{ 'IMPRINT.STORAGE_AND_DELETION_DETAILS'
            | translate }}<ul>
                <li>{{ 'IMPRINT.STORAGE_10_YEARS' | translate }}</li>
                <li>{{ 'IMPRINT.STORAGE_6_YEARS' | translate }}</li>
                <li>{{ 'IMPRINT.STORAGE_3_YEARS' | translate }}</li>
            </ul>
        </li>
    </ul>
    <h2 id="m10">{{ 'IMPRINT.DATA_SUBJECTS_RIGHTS' | translate }}</h2>
    <p>{{ 'IMPRINT.DATA_SUBJECTS_RIGHTS_TEXT' | translate }}</p>
    <ul>
        <li><strong>{{ 'IMPRINT.RIGHT_TO_OBJECT' | translate }}</strong></li>
        <li><strong>{{ 'IMPRINT.RIGHT_TO_WITHDRAW_CONSENT' | translate }}</strong></li>
        <li><strong>{{ 'IMPRINT.RIGHT_TO_ACCESS' | translate }}</strong></li>
        <li><strong>{{ 'IMPRINT.RIGHT_TO_RECTIFICATION' | translate }}</strong></li>
        <li><strong>{{ 'IMPRINT.RIGHT_TO_ERASURE_AND_RESTRICTION' | translate }}</strong></li>
        <li><strong>{{ 'IMPRINT.RIGHT_TO_DATA_PORTABILITY' | translate }}</strong></li>
        <li><strong>{{ 'IMPRINT.RIGHT_TO_COMPLAIN' | translate }}</strong></li>
    </ul>
    <h2 id="m317">{{ 'IMPRINT.BUSINESS_SERVICES' | translate }}</h2>
    <p>{{ 'IMPRINT.BUSINESS_SERVICES_TEXT' | translate }}</p>
    <p>{{ 'IMPRINT.BUSINESS_SERVICES_DETAILS' | translate }}</p>
    <p>{{ 'IMPRINT.BUSINESS_SERVICES_REQUIRED_DATA' | translate }}</p>
    <p>{{ 'IMPRINT.BUSINESS_SERVICES_DELETION' | translate }}</p>
    <ul class="m-elements">
        <li><strong>{{ 'IMPRINT.BUSINESS_SERVICES_DATA_TYPES' | translate }}</strong>
            <ul>
                <li>{{ 'IMPRINT.BUSINESS_SERVICES_DATA_TYPES_LIST.0' | translate }}</li>
                <li>{{ 'IMPRINT.BUSINESS_SERVICES_DATA_TYPES_LIST.1' | translate }}</li>
                <li>{{ 'IMPRINT.BUSINESS_SERVICES_DATA_TYPES_LIST.2' | translate }}</li>
                <li>{{ 'IMPRINT.BUSINESS_SERVICES_DATA_TYPES_LIST.3' | translate }}</li>
            </ul>
        </li>
        <li><strong>{{ 'IMPRINT.BUSINESS_SERVICES_DATA_SUBJECTS' | translate }}</strong>
            <ul>
                <li>{{ 'IMPRINT.BUSINESS_SERVICES_DATA_SUBJECTS_LIST.0' | translate }}</li>
                <li>{{ 'IMPRINT.BUSINESS_SERVICES_DATA_SUBJECTS_LIST.1' | translate }}</li>
                <li>{{ 'IMPRINT.BUSINESS_SERVICES_DATA_SUBJECTS_LIST.2' | translate }}</li>
            </ul>
        </li>
        <li><strong>{{ 'IMPRINT.BUSINESS_SERVICES_PURPOSES' | translate }}</strong>
            <ul>
                <li>{{ 'IMPRINT.BUSINESS_SERVICES_PURPOSES_LIST.0' | translate }}</li>
                <li>{{ 'IMPRINT.BUSINESS_SERVICES_PURPOSES_LIST.1' | translate }}</li>
                <li>{{ 'IMPRINT.BUSINESS_SERVICES_PURPOSES_LIST.2' | translate }}</li>
                <li>{{ 'IMPRINT.BUSINESS_SERVICES_PURPOSES_LIST.3' | translate }}</li>
                <li>{{ 'IMPRINT.BUSINESS_SERVICES_PURPOSES_LIST.4' | translate }}</li>
            </ul>
        </li>
        <li><strong>{{ 'IMPRINT.BUSINESS_SERVICES_STORAGE_AND_DELETION' | translate }}</strong></li>
        <li><strong>{{ 'IMPRINT.BUSINESS_SERVICES_LEGAL_BASES' | translate }}</strong>
            <ul>
                <li>{{ 'IMPRINT.BUSINESS_SERVICES_LEGAL_BASES_LIST.0' | translate }}</li>
                <li>{{ 'IMPRINT.BUSINESS_SERVICES_LEGAL_BASES_LIST.1' | translate }}</li>
                <li>{{ 'IMPRINT.BUSINESS_SERVICES_LEGAL_BASES_LIST.2' | translate }}</li>
            </ul>
        </li>
    </ul>
    <p><strong>{{ 'IMPRINT.PROJECT_SERVICES' | translate }}</strong></p>
    <ul class="m-elements">
        <li>{{ 'IMPRINT.PROJECT_SERVICES_TEXT' | translate }}<br><br>{{ 'IMPRINT.PROJECT_SERVICES_REQUIRED_DATA' |
            translate }}<span class=""><strong>{{ 'IMPRINT.PROJECT_SERVICES_LEGAL_BASES' | translate }}</strong></span>
        </li>
    </ul>
    <h2 id="m225">{{ 'IMPRINT.PROVISION_OF_ONLINE_OFFER' | translate }}</h2>
    <p>{{ 'IMPRINT.PROVISION_OF_ONLINE_OFFER_TEXT' | translate }}</p>
    <ul class="m-elements">
        <li><strong>{{ 'IMPRINT.PROVISION_OF_ONLINE_OFFER_DATA_TYPES' | translate }}</strong>
            <ul>
                <li>{{ 'IMPRINT.PROVISION_OF_ONLINE_OFFER_DATA_TYPES_LIST.0' | translate }}</li>
                <li>{{ 'IMPRINT.PROVISION_OF_ONLINE_OFFER_DATA_TYPES_LIST.1' | translate }}</li>
                <li>{{ 'IMPRINT.PROVISION_OF_ONLINE_OFFER_DATA_TYPES_LIST.2' | translate }}</li>
            </ul>
        </li>
        <li><strong>{{ 'IMPRINT.PROVISION_OF_ONLINE_OFFER_DATA_SUBJECTS' | translate }}</strong>
            <ul>
                <li>{{ 'IMPRINT.PROVISION_OF_ONLINE_OFFER_DATA_SUBJECTS_LIST.0' | translate }}</li>
            </ul>
        </li>
        <li><strong>{{ 'IMPRINT.PROVISION_OF_ONLINE_OFFER_PURPOSES' | translate }}</strong>
            <ul>
                <li>{{ 'IMPRINT.PROVISION_OF_ONLINE_OFFER_PURPOSES_LIST.0' | translate }}</li>
                <li>{{ 'IMPRINT.PROVISION_OF_ONLINE_OFFER_PURPOSES_LIST.1' | translate }}</li>
                <li>{{ 'IMPRINT.PROVISION_OF_ONLINE_OFFER_PURPOSES_LIST.2' | translate }}</li>
            </ul>
        </li>
        <li><strong>{{ 'IMPRINT.PROVISION_OF_ONLINE_OFFER_STORAGE_AND_DELETION' | translate }}</strong></li>
        <li><strong>{{ 'IMPRINT.PROVISION_OF_ONLINE_OFFER_LEGAL_BASES' | translate }}</strong>
            <ul>
                <li>{{ 'IMPRINT.PROVISION_OF_ONLINE_OFFER_LEGAL_BASES_LIST.0' | translate }}</li>
            </ul>
        </li>
    </ul>
    <p><strong>{{ 'IMPRINT.SERVER_LOGS' | translate }}</strong></p>
    <ul class="m-elements">
        <li>{{ 'IMPRINT.SERVER_LOGS_TEXT' | translate }}<span class=""><strong>{{ 'IMPRINT.SERVER_LOGS_LEGAL_BASES' |
                    translate }} </strong></span><strong>{{ 'IMPRINT.SERVER_LOGS_DELETION' | translate }}</strong></li>
        <li><strong>{{ 'IMPRINT.ALL_INKL' | translate }} </strong>{{ 'IMPRINT.ALL_INKL_TEXT' | translate }}<strong>{{
                'IMPRINT.ALL_INKL_PROVIDER' | translate }}</strong><span class=""><strong>{{
                    'IMPRINT.ALL_INKL_LEGAL_BASES' | translate }}</strong> </span><strong>{{ 'IMPRINT.ALL_INKL_WEBSITE'
                | translate }}</strong><strong>{{ 'IMPRINT.ALL_INKL_PRIVACY_POLICY' | translate }}</strong><strong>{{
                'IMPRINT.ALL_INKL_AV' | translate }}</strong></li>
    </ul>
    <h2 id="m134">{{ 'IMPRINT.COOKIES' | translate }}</h2>
    <p>{{ 'IMPRINT.COOKIES_TEXT' | translate }}</p>
    <p><strong>{{ 'IMPRINT.COOKIES_CONSENT' | translate }}</strong></p>
    <p><strong>{{ 'IMPRINT.COOKIES_LEGAL_BASES' | translate }}</strong></p>
    <p><strong>{{ 'IMPRINT.COOKIES_STORAGE_DURATION' | translate }}</strong></p>
    <ul>
        <li><strong>{{ 'IMPRINT.TEMPORARY_COOKIES' | translate }}</strong></li>
        <li><strong>{{ 'IMPRINT.PERMANENT_COOKIES' | translate }}</strong></li>
    </ul>
    <p><strong>{{ 'IMPRINT.OPT_OUT' | translate }}</strong></p>
    <ul class="m-elements">
        <li><strong>{{ 'IMPRINT.COOKIES_DATA_TYPES' | translate }}</strong>
            <ul>
                <li>{{ 'IMPRINT.COOKIES_DATA_TYPES_LIST.0' | translate }}</li>
            </ul>
        </li>
        <li><strong>{{ 'IMPRINT.COOKIES_DATA_SUBJECTS' | translate }}</strong>
            <ul>
                <li>{{ 'IMPRINT.COOKIES_DATA_SUBJECTS_LIST.0' | translate }}</li>
            </ul>
        </li>
        <li class=""><strong>{{ 'IMPRINT.COOKIES_LEGAL_BASES' | translate }}</strong>
            <ul>
                <li>{{ 'IMPRINT.COOKIES_LEGAL_BASES_LIST.0' | translate }}</li>
                <li>{{ 'IMPRINT.COOKIES_LEGAL_BASES_LIST.1' | translate }}</li>
            </ul>
        </li>
    </ul>
    <p><strong>{{ 'IMPRINT.COOKIE_MANAGEMENT' | translate }}</strong></p>
    <ul class="m-elements">
        <li>
            <strong>{{ 'IMPRINT.COOKIE_MANAGEMENT_TEXT' | translate }}</strong>
            <span class="">
                <strong>{{ 'IMPRINT.COOKIE_MANAGEMENT_LEGAL_BASES' | translate }}</strong>
            </span>
        </li>
    </ul>
    <h2 id="m182">{{ 'IMPRINT.CONTACT_MANAGEMENT' | translate }}</h2>
    <p>{{ 'IMPRINT.CONTACT_MANAGEMENT_TEXT' | translate }}</p>
    <ul class="m-elements">
        <li><strong>{{ 'IMPRINT.CONTACT_MANAGEMENT_DATA_TYPES' | translate }}</strong>
            <ul>
                <li>{{ 'IMPRINT.CONTACT_MANAGEMENT_DATA_TYPES_LIST.0' | translate }}</li>
                <li>{{ 'IMPRINT.CONTACT_MANAGEMENT_DATA_TYPES_LIST.1' | translate }}</li>
                <li>{{ 'IMPRINT.CONTACT_MANAGEMENT_DATA_TYPES_LIST.2' | translate }}</li>
                <li>{{ 'IMPRINT.CONTACT_MANAGEMENT_DATA_TYPES_LIST.3' | translate }}</li>
                <li>{{ 'IMPRINT.CONTACT_MANAGEMENT_DATA_TYPES_LIST.4' | translate }}</li>
            </ul>
        </li>
        <li><strong>{{ 'IMPRINT.CONTACT_MANAGEMENT_DATA_SUBJECTS' | translate }}</strong>
            <ul>
                <li>{{ 'IMPRINT.CONTACT_MANAGEMENT_DATA_SUBJECTS_LIST.0' | translate }}</li>
            </ul>
        </li>
        <li><strong>{{ 'IMPRINT.CONTACT_MANAGEMENT_PURPOSES' | translate }}</strong>
            <ul>
                <li>{{ 'IMPRINT.CONTACT_MANAGEMENT_PURPOSES_LIST.0' | translate }}</li>
                <li>{{ 'IMPRINT.CONTACT_MANAGEMENT_PURPOSES_LIST.1' | translate }}</li>
                <li>{{ 'IMPRINT.CONTACT_MANAGEMENT_PURPOSES_LIST.2' | translate }}</li>
                <li>{{ 'IMPRINT.CONTACT_MANAGEMENT_PURPOSES_LIST.3' | translate }}</li>
            </ul>
        </li>
        <li><strong>{{ 'IMPRINT.CONTACT_MANAGEMENT_STORAGE_AND_DELETION' | translate }}</strong></li>
        <li class=""><strong>{{ 'IMPRINT.CONTACT_MANAGEMENT_LEGAL_BASES' | translate }}</strong>
            <ul>
                <li>{{ 'IMPRINT.CONTACT_MANAGEMENT_LEGAL_BASES_LIST.0' | translate }}</li>
                <li>{{ 'IMPRINT.CONTACT_MANAGEMENT_LEGAL_BASES_LIST.1' | translate }}</li>
            </ul>
        </li>
    </ul>
    <p><strong>{{ 'IMPRINT.CONTACT_FORM' | translate }}</strong></p>
    <ul class="m-elements">
        <li>
            <strong>{{ 'IMPRINT.CONTACT_FORM_TEXT' | translate }}</strong>
            <span class="">
                <strong>{{ 'IMPRINT.CONTACT_FORM_LEGAL_BASES' | translate }}</strong>
            </span>
        </li>
    </ul>
    <h2 id="m136">{{ 'IMPRINT.SOCIAL_MEDIA' | translate }}</h2>
    <p>{{ 'IMPRINT.SOCIAL_MEDIA_TEXT' | translate }}</p>
    <p>{{ 'IMPRINT.SOCIAL_MEDIA_RISKS' | translate }}</p>
    <p>{{ 'IMPRINT.SOCIAL_MEDIA_PURPOSES' | translate }}</p>
    <p>{{ 'IMPRINT.SOCIAL_MEDIA_PRIVACY' | translate }}</p>
    <p>{{ 'IMPRINT.SOCIAL_MEDIA_REQUESTS' | translate }}</p>
    <ul class="m-elements">
        <li><strong>{{ 'IMPRINT.SOCIAL_MEDIA_DATA_TYPES' | translate }}</strong>
            <ul>
                <li>{{ 'IMPRINT.SOCIAL_MEDIA_DATA_TYPES_LIST.0' | translate }}</li>
                <li>{{ 'IMPRINT.SOCIAL_MEDIA_DATA_TYPES_LIST.1' | translate }}</li>
                <li>{{ 'IMPRINT.SOCIAL_MEDIA_DATA_TYPES_LIST.2' | translate }}</li>
            </ul>
        </li>
        <li><strong>{{ 'IMPRINT.SOCIAL_MEDIA_DATA_SUBJECTS' | translate }}</strong>
            <ul>
                <li>{{ 'IMPRINT.SOCIAL_MEDIA_DATA_SUBJECTS_LIST.0' | translate }}</li>
            </ul>
        </li>
        <li><strong>{{ 'IMPRINT.SOCIAL_MEDIA_PURPOSES' | translate }}</strong>
            <ul>
                <li>{{ 'IMPRINT.SOCIAL_MEDIA_PURPOSES_LIST.0' | translate }}</li>
                <li>{{ 'IMPRINT.SOCIAL_MEDIA_PURPOSES_LIST.1' | translate }}</li>
                <li>{{ 'IMPRINT.SOCIAL_MEDIA_PURPOSES_LIST.2' | translate }}</li>
            </ul>
        </li>
        <li><strong>{{ 'IMPRINT.SOCIAL_MEDIA_STORAGE_AND_DELETION' | translate }}</strong></li>
        <li class=""><strong>{{ 'IMPRINT.SOCIAL_MEDIA_LEGAL_BASES' | translate }}</strong>
            <ul>
                <li>{{ 'IMPRINT.SOCIAL_MEDIA_LEGAL_BASES_LIST.0' | translate }}</li>
            </ul>
        </li>
    </ul>
    <p><strong>{{ 'IMPRINT.INSTAGRAM' | translate }} </strong>{{ 'IMPRINT.INSTAGRAM_TEXT' | translate }}<strong>{{
            'IMPRINT.INSTAGRAM_PROVIDER' | translate }}</strong><span class=""><strong>{{
                'IMPRINT.INSTAGRAM_LEGAL_BASES' | translate }}</strong> </span><strong>{{ 'IMPRINT.INSTAGRAM_WEBSITE' |
            translate }}</strong><strong>{{ 'IMPRINT.INSTAGRAM_PRIVACY_POLICY' | translate }}</strong><strong>{{
            'IMPRINT.INSTAGRAM_DATA_TRANSFER' | translate }}</strong></p>
    <p><strong>{{ 'IMPRINT.LINKEDIN' | translate }} </strong>{{ 'IMPRINT.LINKEDIN_TEXT' | translate }}<br>{{
        'IMPRINT.LINKEDIN_DATA_TYPES' | translate }}<a href="https://www.linkedin.com/legal/privacy-policy"
            target="_blank">{{ 'IMPRINT.LINKEDIN_DATA_TYPES' | translate }}</a><br><strong>{{
            'IMPRINT.LINKEDIN_LEGAL_BASES' | translate }}</strong><span class=""><strong>{{
                'IMPRINT.LINKEDIN_LEGAL_BASES' | translate }}</strong> </span><strong>{{ 'IMPRINT.LINKEDIN_WEBSITE' |
            translate }}</strong><strong>{{ 'IMPRINT.LINKEDIN_PRIVACY_POLICY' | translate }}</strong><strong>{{
            'IMPRINT.LINKEDIN_DATA_TRANSFER' | translate }}</strong><strong>{{ 'IMPRINT.LINKEDIN_OPTOUT' | translate
            }}</strong></p>
    <p><strong>{{ 'IMPRINT.X' | translate }} </strong><strong>{{ 'IMPRINT.X_PROVIDER' | translate }}</strong><span
            class=""><strong>{{ 'IMPRINT.X_LEGAL_BASES' | translate }}</strong> </span><strong>{{ 'IMPRINT.X_WEBSITE' |
            translate }}</strong><strong>{{ 'IMPRINT.X_PRIVACY_POLICY' | translate }}</strong></p>
    <p><strong>{{ 'IMPRINT.XING' | translate }} </strong><strong>{{ 'IMPRINT.XING_PROVIDER' | translate }}</strong><span
            class=""><strong>{{ 'IMPRINT.XING_LEGAL_BASES' | translate }}</strong> </span><strong>{{
            'IMPRINT.XING_WEBSITE' | translate }}</strong><strong>{{ 'IMPRINT.XING_PRIVACY_POLICY' | translate
            }}</strong></p>
    <h2 id="m328">{{ 'IMPRINT.PLUGINS' | translate }}</h2>
    <p>{{ 'IMPRINT.PLUGINS_TEXT' | translate }}</p>
    <p>{{ 'IMPRINT.PLUGINS_IP_ADDRESS' | translate }}</p>
    <p><strong>{{ 'IMPRINT.PLUGINS_LEGAL_BASES' | translate }}</strong></p>
    <ul class="m-elements">
        <li><strong>{{ 'IMPRINT.PLUGINS_DATA_TYPES' | translate }}</strong>
            <ul>
                <li>{{ 'IMPRINT.PLUGINS_DATA_TYPES_LIST.0' | translate }}</li>
                <li>{{ 'IMPRINT.PLUGINS_DATA_TYPES_LIST.1' | translate }}</li>
            </ul>
        </li>
        <li><strong>{{ 'IMPRINT.PLUGINS_DATA_SUBJECTS' | translate }}</strong>
            <ul>
                <li>{{ 'IMPRINT.PLUGINS_DATA_SUBJECTS_LIST.0' | translate }}</li>
            </ul>
        </li>
        <li><strong>{{ 'IMPRINT.PLUGINS_PURPOSES' | translate }}</strong>
            <ul>
                <li>{{ 'IMPRINT.PLUGINS_PURPOSES_LIST.0' | translate }}</li>
            </ul>
        </li>
        <li><strong>{{ 'IMPRINT.PLUGINS_STORAGE_AND_DELETION' | translate }}</strong></li>
        <li class=""><strong>{{ 'IMPRINT.PLUGINS_LEGAL_BASES' | translate }}</strong>
            <ul>
                <li>{{ 'IMPRINT.PLUGINS_LEGAL_BASES_LIST.0' | translate }}</li>
                <li>{{ 'IMPRINT.PLUGINS_LEGAL_BASES_LIST.1' | translate }}</li>
            </ul>
        </li>
    </ul>
    <p><strong>{{ 'IMPRINT.GOOGLE_FONTS' | translate }} </strong>{{ 'IMPRINT.GOOGLE_FONTS_TEXT' | translate }}<strong>{{
            'IMPRINT.GOOGLE_FONTS_PROVIDER' | translate }}</strong><br><span class=""><strong>{{
                'IMPRINT.GOOGLE_FONTS_LEGAL_BASES' | translate }}</strong></span></p>


    <p class="seal"><a href="https://datenschutz-generator.de/"
            title="Rechtstext von Dr. Schwenke - für weitere Informationen bitte anklicken." target="_blank"
            rel="noopener noreferrer nofollow">{{ 'IMPRINT.GENERATOR' | translate }}</a>
    </p>
</section>