.landing-page-wrapper {
    width: 100%;
    height: calc(100vh - 90px);
    background-color: rgba(76, 83, 94, 1);
    position: relative;
    display: flex;
    justify-content: center;
}

.landing-page-content {
    position: absolute;
    display: flex;
    justify-content: space-around;
    text-align: center;
    top: 5%;
    gap: 5%;

    img {
        height: 900px;
        z-index: 0;
    }

    h1 {
        //color: rgba(170, 178, 209, 1);
        color: rgba(245, 245, 245, 1);
        font-size: 72px;
        font-weight: 800;
        letter-spacing: -2px;
        margin-top: 70px;
        margin-bottom: 10px;
        line-height: 72px;
    }
}

.landing-page-diagonal {
    height: 130px;
    width: 100%;
    background-color: rgba(43, 43, 51, 1);
    //background-color: rgba(20, 29, 47, 1);
    position: absolute;
    bottom: calc(0px + 32.5%);
    clip-path: polygon(0 80%, 100% 20%, 100% 100%, 0 100%);
    z-index: 1;
}

.landing-page-subheadline {
    color: rgba(170, 178, 209, 1);
    font-size: 32px;
    font-weight: 700;
    letter-spacing: -2px;
    gap: 10px;
}

.parting-line {
    border: 3px solid rgba(245, 245, 245, 1);
    width: 300px;
}

.landing-page-bottom {
    position: absolute;
    height: 33%;
    width: 100%;
    bottom: 0;
    background-color: rgba(43, 43, 51, 1);
    z-index: 1;
}