.landing-page-wrapper {
    width: 100%;
    height: calc(100vh - 90px);
    background-color: rgba(76, 83, 94, 1);
    position: relative;
}

.landing-page-content {
    position: relative;
    display: flex;
    text-align: center;

    img {
        width: 400px;
        position: relative;
        top: 180px;
        z-index: 0;
    }

    h1 {
        top: 180px;
        position: relative;
        //color: rgba(170, 178, 209, 1);
        color: whitesmoke;
        font-size: 72px;
        font-weight: 800;
        letter-spacing: -2px;
    }
}

.landing-page-diagonal {
    height: 200px;
    width: 100%;
    background-color: rgba(43, 43, 51, 1);
    //background-color: rgba(20, 29, 47, 1);
    position: absolute;
    bottom: calc(0px + 32.5%);
    clip-path: polygon(0 80%, 100% 20%, 100% 100%, 0 100%);
    z-index: 1;
}

.landing-page-subheadline {
    color: rgba(170, 178, 209, 1);
    font-size: 32px;
    font-weight: 700;
    letter-spacing: -2px;
    gap: 10px;
}

.parting-line {
    border: 3px solid whitesmoke;
    width: 300px;
}

.landing-page-bottom {
    position: absolute;
    height: 33%;
    width: 100%;
    bottom: 0;
    background-color: rgba(43, 43, 51, 1);
}