.project-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 2.5% 0;
  background-color: rgba(255, 255, 255, 1);
}

.project-count {
  display: flex;
  justify-content: flex-end;
  font-size: 48px;
  font-weight: 700;
  color: rgba(0, 0, 0, 1);

  p {
    margin: 30px 0;
  }

  &.reverse-order {
    justify-content: flex-start;
  }
}

.project-overview {
  width: 100%;
  display: flex;
  //justify-content: space-between;
  gap: 100px;
  filter: grayscale(1);

  .project-info {
    width: 45%;
    opacity: 0;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 20px;
    margin-left: -30%;
    margin-right: -30%;
    transition: margin 0.5s ease;
  
    h3 {
      font-size: 45px;
      font-weight: 800;
      margin: 0;
    }
  
    p {
      margin: 10px 0;
      font-size: 23px;
      line-height: 27px;
      font-weight: 400;
      color: rgb(86, 147, 244);
    }
  
    span {
      font-size: 16px;
      line-height: 19px;
      font-weight: 400;
      color: rgba(0, 0, 0, 1);
    }
  }

  .img-container {
    position: relative;
    width: 45%;
    height: 0;
    padding-top: calc(45% * 0.544);
  }

  .arrow {
    position: absolute;
    width: 48px;
    height: 48px;
    top: calc(50% + 15px);
    transform: translateY(-50%) rotate(135deg);
    left: calc(100% - 9px);
    z-index: 6;
    display: none;
    transition: transform 0.3s ease, width 0.3s ease, height 0.3s ease;

    &.reverse-order {
      left: -39px;
      transform: translateY(-50%) rotate(135deg);
    }
  }

  img,
  .img-border {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }

  .img-border {
    box-sizing: border-box;
    z-index: 5;
  }

  &.reverse-order {
    flex-direction: row-reverse;

    &:hover .img-border {
      border: 4px solid rgba(0, 0, 0, 1);
      top: 15px;
      bottom: -15px;
      left: -15px;
      right: 15px;
    }

    &:hover .arrow {
      animation: rotate-grow-reverse 0.5s forwards;
      display: block;
    }

  }

  &:hover {
    filter: grayscale(0);

    .project-info {
      display: flex;
      opacity: 1;
      margin-right: 0;
      margin-left: 0;
    }

    .img-border {
      border: 4px solid rgba(0, 0, 0, 1);
      top: 15px;
      bottom: -15px;
      left: 15px;
      right: -15px;
    }

    .arrow {
      animation: rotate-grow 0.5s forwards;
      display: block;
    }
  }
}

.project-btn {
  display: flex;
  padding-top: 30px;

  a {
    display: inline-block;
    border: 4px solid rgba(0, 0, 0, 1);
    padding: 20px 40px;
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
    font-size: 20px;
    line-height: 19px;
    font-weight: 400;
    margin-right: 40px;
    transition: all 0.3s ease;
    box-sizing: border-box;

    &:hover {
      cursor: pointer;
      transition: 0.3s ease-in-out;
      padding: 20px 50px;
      margin-right: 20px;
    }
  }
}

@keyframes rotate-grow {
  0% {
    transform: translateY(20%) rotate(135deg) scale(1);
  }

  100% {
    transform: translateY(-50%) rotate(15deg) scale(1.5);
  }
}

@keyframes rotate-grow-reverse {
  0% {
    transform: translateY(20%) rotate(135deg) scale(1);
  }

  100% {
    transform: translateY(-50%) rotate(255deg) scale(1.5);
  }
}

@media (max-width: 1100px) {
  .project-overview,
  .project-overview.reverse-order {
    height: 280px;
  }
}

@media (max-width: 800px) {

  .project-overview,
  .project-overview.reverse-order {
    flex-direction: column;
    align-items: center;
    gap: 30px;

    .img-container {
      width: 80%;
      padding-top: calc(80% * 0.544);
    }
  }

  .project-info {
    width: 80%;
  }
}

@media (max-width: 640px) {

  .project-overview,
  .project-overview.reverse-order {
    gap: 20px;
  }
}

@media (max-width: 530px) {

  .project-overview,
  .project-overview.reverse-order {
    gap: 10px;

    .arrow {
      height: 30px;
      width: 30px;
      left: calc(100% - 2px);

      &.reverse-order {
        left: -32px;
      }
    }
  }

  .project-count {
    font-size: 45px;
  }
}

@media (max-width: 430px) {

  .project-overview,
  .project-overview.reverse-order {
    gap: 5px;
  }

  .project-count {
    font-size: 35px;
  }

  .project-info {
    h3 {
      font-size: 35px;
    }
  }

  .project-btn {
    flex-direction: column;
    gap: 15px;
    text-align: center;
  }
}