body {
    margin: 0;
}

@font-face {
    font-family: 'Overpass';
    src: url('./assets/fonts/Overpass-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'Overpass Italic';
    src: url('./assets/fonts/Overpass-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
}

@font-face {
    font-family: 'Syne';
    src: url('./assets/fonts/Syne-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'Orbitron';
    src: url('./assets/fonts/Orbitron-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

.overpass {
    font-family: 'Overpass';
}

.overpass-italic {
    font-family: 'Overpass Italic';
}

.syne {
    font-family: 'Syne';
}

.orbitron {
    font-family: 'Orbitron';
}

.fcc {
    display: flex;
    align-items: center;
    justify-content: center;
}

#cursor {
    width: 20px;
    height: 20px;
    background-color: teal;
    border-radius: 50%;
    position: absolute;
    pointer-events: none; /* Verhindert, dass das `div` Klicks blockiert */
    //animation: blink 1s infinite;
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}