body {
    margin: 0;
    overflow-x: hidden;
    //cursor: none;
}

html {
    scrollbar-color: rgba(170, 178, 209, 1) rgba(76, 83, 94, 1);
    scrollbar-width: thin;
}

.colors {
    background-color: rgba(43, 43, 51, 1);
    background-color: rgba(255, 252, 243, 1);
    background-color: rgba(76, 83, 94, 1);
    background-color: rgba(170, 178, 209, 1);
    background-color: rgba(20, 29, 47, 1);
    background-color: rgb(197, 196, 192);
    color: rgba(89, 136, 255, 1);
}

@font-face {
    font-family: 'Overpass';
    src: url('./assets/fonts/Overpass-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'Overpass Italic';
    src: url('./assets/fonts/Overpass-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
}

@font-face {
    font-family: 'Syne';
    src: url('./assets/fonts/Syne-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'Orbitron';
    src: url('./assets/fonts/Orbitron-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

.overpass {
    font-family: 'Overpass';
}

.overpass-italic {
    font-family: 'Overpass Italic';
}

.syne {
    font-family: 'Syne';
}

.orbitron {
    font-family: 'Orbitron';
}

.fcc {
    display: flex;
    align-items: center;
    justify-content: center;
}

#cursor {
    width: 20px;
    height: 20px;
    border: 2px solid #aab2d1;
    border-radius: 50%;
    position: absolute;
    z-index: 100;
    pointer-events: none;
    //animation: blink 1s infinite;
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}