footer {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 95%;
    padding: 2.5%;
    background-color: rgba(0, 0, 0, 1);
}

.footer-left {
    display: flex;
    flex-direction: column;
    gap: 10px;

    img {
        width: 58px;
        height: calc(width * 0.69);
    }

    p {
        color: rgba(255, 255, 255, 1);
        margin: 0;
        font-family: 23px;
        line-height: 27px;
        font-weight: 400;
    }

    a {
        cursor: pointer;
    }
}

.footer-right {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: end;

    p {
        color: rgba(255, 255, 255, 1);
        margin: 0;
        font-family: 16px;
        line-height: 19px;
        font-weight: 400;
    }
    
}

.footer-icons {
    display: flex;
    gap: 20px;

    a {
        cursor: pointer;

        svg {
            fill: rgba(255, 255, 255, 1);
        }

        &:hover {
            svg {
                fill: rgb(86, 147, 244);
                animation: jump 0.5s ease;
            }
        }
    }
}

@keyframes jump {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}