footer {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    padding-inline: max(5%,(100% - 1240px) / 2);
    background-color: rgba(0, 0, 0, 1);
}

.footer-left {
    display: flex;
    flex-direction: column;
    gap: 10px;

    img {
        width: 58px;
        height: calc(width * 0.69);
    }

    p {
        color: rgba(255, 255, 255, 1);
        margin: 0;
        font-family: 23px;
        line-height: 27px;
        font-weight: 400;
    }

    a {
        cursor: pointer;
    }
}

.footer-right {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: end;

    .legal-notice {
        color: rgba(255, 255, 255, 1);
        margin: 0;
        font-size: 16px;
        line-height: 19px;
        font-weight: 300;
        text-decoration: none;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            width: 0;
            height: 1px;
            bottom: 0;
            right: 0;
            border-bottom: 3px solid rgb(86, 147, 244);
            transition: width 0.3s ease, border-color 0.3s ease; 
        }

        &:hover::before {
            width: 42%;
            left: 58%;
        }


        &:hover {
            font-weight: 500;
        }
    }
}

.footer-icons {
    display: flex;
    gap: 20px;

    a {
        cursor: pointer;

        svg {
            fill: rgba(255, 255, 255, 1);
        }

        &:hover {
            svg {
                fill: rgb(86, 147, 244);
                animation: jump 0.5s ease;
            }
        }
    }
}

.legal-links {
    display: flex;
    gap: 10px;
}

.mobile-legal-links {
    gap: 10px;
    display: none;

    .mobile-legal-notice {
        display: none;
        color: rgba(255, 255, 255, 1);
        margin: 0;
        font-size: 16px;
        line-height: 19px;
        font-weight: 300;
        text-decoration: none;
    
        &:hover {
            font-weight: 500;
            color: rgb(86, 147, 244);
        }
    }
}

@keyframes jump {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

@media (max-width: 530px) {
    footer {
        flex-direction: column-reverse;
        height: auto;
        padding: 30px;
    }

    .footer-icons {
        gap: 70px;
        padding-bottom: 30px;
    }

    .footer-left {
        align-items: center;
        padding-bottom: 30px;
    }

    .footer-right {
        .legal-notice {
            display: none;
        }
    }

      .mobile-legal-links {
        display: flex;

        .mobile-legal-notice {
            display: block;
          }
      }
}