.portfolio-wrapper {
    width: 95%;
    padding: 0 2.5%;
    padding-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 1);

    .portfolio-project {
        width: 100%;
    }
}

.portfolio-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 478px;

    h2 {
        margin: 0;
        padding-bottom: 30px;
        font-weight: 800;
        font-size: 70px;
        color: rgba(0, 0, 0, 1);

        &:hover {
            color: rgb(86, 147, 244);
        }
    }

    p {
        margin: 0;
        font-size: 23px;
        line-height: 27px;
        font-weight: 400;
        color: rgba(0, 0, 0, 1);
        text-align: justify;
    }
}