<section class="portfolio-wrapper ">
    <div class="syne portfolio-header">
        <h2>{{ 'PORTFOLIO.HEADLINE' | translate }}</h2>
        <p class="overpass">
            Explore a selection of my work here -
            Interact with projects to see my skills in action.
        </p>
    </div>
    <app-portfolio-project class="portfolio-project" *ngFor="let project of projects; let i = index"
        [isReverse]="i % 2 !== 0" [currentProject]="i + 1" [totalProjects]="projects.length"></app-portfolio-project>
</section>