<section class="project-wrapper">
    <div class="project-count syne" [ngClass]="{'reverse-order': isReverse}">
        <p>{{ formatNumber(currentProject) }}/{{ formatNumber(totalProjects) }}</p>
    </div>
    <div class="project-overview" [ngClass]="{'reverse-order': isReverse}">
        <div class="img-container">
            <img class="arrow" [ngClass]="{'reverse-order': isReverse}" src="../../../assets/img/02_icons/arrow_round.png" alt="round arrow">
            <div class="img-border"></div>
            <img [src]="getImgSrc()" [alt]="getImgAlt()">
        </div>
        <div class="project-info syne">
            <h3>{{ getName() }}</h3>
            <p class="overpass">{{ getDevTools() }}</p>
            <span class="overpass">{{ getDescription() }}</span>
        </div>
    </div>
</section>